@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


$icon:#5c5b5b;
$font_color:#313131;
$border:#d3d3d3;
$active_icon:#f80b0b;
$active:#c0c0c094;
$hover:#d3d3d380;
$icon_size:19px;
$font_size:15.3px;
$font_weight:400;
$active_font_weight:500;

@mixin hr {
     opacity: .4;
     background-color: $icon;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
}

header {
     .top_manu {
          display: flex;
          padding: 1.5vh 3vh;
          justify-content: space-between;
          border-bottom: 1px solid $border;

          .manu_box {
               display: flex;
               justify-content: space-between;

               .manu_btn {
                    padding: 2px;
                    cursor: pointer;

                    span {
                         width: 2vh;
                         background-color: $icon;
                         height: 2px;
                         display: block;
                         margin: 3px auto;
                    }
               }

               .logo {
                    margin-left: 3vh;

                    img {
                         width: 10vh;
                    }
               }

               .microphone {
                    margin: auto 2vh;
                    font-size: $icon_size;
                    color: $icon;
                    cursor: pointer;
               }
          }

          .search {
               width: 100%;

               form {
                    border: 1px solid #d3d3d3;
                    background-color: #f8f8f8;

                    &:hover {
                         background-color: #e0d9d9d3;
                    }

                    &:hover .sub_btn {
                         background-color: #e0d9d9d3;
                    }

                    input {
                         padding: .3vh;
                         border: none;
                         border-right: 1px solid #d3d3d3;
                         width: 50vh;
                         margin: 0;
                         font-size: 17.6px;
                         outline-color: rgba(0, 119, 255, 0.281);

                    }

                    .sub_btn {
                         width: 5vh;
                         line-height: 3px;
                         font-size: 18px;
                         margin: 0;
                         border: none;
                         cursor: pointer;
                         opacity: 0.6;
                         background-color: #f8f8f8;

                         &:hover {
                              background-color: #e0d9d9d3;
                         }
                    }
               }
          }

          ul {
               display: flex;
               justify-content: center;

               li {
                    list-style: none;
                    padding: 0vh .4vh;
                    position: relative;

                    #dropdown_item {
                         position: absolute;
                         top: 120%;
                         right: 30%;
                         width: 230px;
                         border: 1px solid $hover;

                         ul {
                              display: flex;
                              flex-direction: column;
                              background-color: #fff;

                              hr {
                                   @include hr;
                              }

                              li {
                                   list-style: none;
                                   padding: 0;
                                   margin: .6vh 0vh;

                                   a {
                                        text-decoration: none;
                                        color: $active_icon;
                                        font-weight: $font_weight;
                                        font-size: 14px;
                                        width: 100%;
                                        display: block;
                                        padding: .7vh;
                                        display: flex;
                                        padding: 1vh 2vh;
                                        border-radius: 0%;
                                        border: none;

                                        &:hover {
                                             background-color: $hover;
                                        }

                                        .icon {
                                             font-size: 20px;
          

                                             .icon {
                                                  width: 2.5vh;
                                                  border-radius: 50%;
                                             }
                                        }

                                        .lk_name {
                                             margin: auto 2vh;
                                             color: $font_color;
                                        }
                                   }

                                   .active {
                                        background-color: $active;
                                        font-weight: $active_font_weight;

                                        .icon {
                                             color: $active_icon;
                                        }
                                   }

                                   p {
                                        margin: 1vh 3vh;
                                        font-size: $font_size;
                                        font-weight: 500;
                                        color: $icon;
                                   }
                              }
                         }
                    }

                    a {
                         position: relative;
                         text-decoration: none;
                         color: $icon;
                         line-height: 5px;
                         width: 35px;
                         height: 35px;
                         border-radius: 50%;
                         padding: 8px;
                         border: 1px solid transparent;
                         font-size: $icon_size;


                         img {
                              width: 14.3px;
                              height: 13.3px;
                         }

                         &:active {
                              color: $icon;
                              border: 1px solid $icon;
                              background-color: rgba(104, 104, 104, 0.158);
                         }
                    }

                    #notifaction {
                         position: absolute;
                         top: 0%;
                         right: 0%;
                         background-color: rgb(226, 7, 7);
                         font-weight: 900;
                         font-size: 9px;
                         border-radius: 50%;
                         line-height: 13px;
                         padding: 2px;

                         span {
                              color: #ffff;
                         }
                    }
               }
          }
     }
}

.nav_sidebar {
     nav {
          width: 250px;
          position: fixed;
          overflow-x: hidden;
          overflow: scroll;
          height: 100%;
          margin-bottom: 150px;

          ul {

               hr {
                    @include hr;
                    margin: 1.6vh auto;
               }

               li {
                    list-style: none;

                    a {
                         text-decoration: none;
                         color: $icon;
                         font-weight: $font_weight;
                         font-size: $font_size;
                         width: 100%;
                         display: block;
                         padding: .7vh;
                         display: flex;
                         padding: 1vh 2vh;

                         &:hover {
                              background-color: $hover;
                         }

                         .icon {
                              font-size: 20px;
                              #span{
                                   font-size: 10px;
                                   display: none;
                                   font-weight: 400;
                              }
                              .icon {
                                   width: 2.5vh;
                                   border-radius: 50%;
                              }
                         }

                         .lk_name {
                              margin: auto 2vh;
                              color: $font_color;
                         }
                    }

                    .active {
                         background-color: $active;
                         font-weight: $active_font_weight;

                         .icon {
                              color: $active_icon;
                         }
                    }

                    p {
                         margin: 1vh 3vh;
                         font-size: $font_size;
                         font-weight: 500;
                         color: $icon;
                    }
               }
          }
     }
}
#dropdown_item,
#show_save,
#show_less_su,
#show_less_sv {
     display: none;
}

::-webkit-scrollbar {
     width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: transparent;
     border-radius: 12px;
}

/* Handle on hover */
.nav_sidebar:hover ::-webkit-scrollbar-thumb {
     background: $active;
}

