@import 'header';
// @import 'preloder';
@import 'preloader';




.videos {
     margin-left: 250px;
     margin-top: 60px;
     .video_box {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          padding: 5vh;
          padding-top: 0;

          #video_single_box {
               height: 225px;
               background-color: rgb(192, 188, 188);
               margin: 1vh;
               flex: 20%;
               // max-width: 25%;
          }
     }
}





